@import "buttons";
@import "colors";
@import "texts";
@import "devices";
@import "fonts";
@import "fonts-weight";
@import "grids";
@import "boxes";

html {
  font-family: $barlow;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $light-bg;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &.dark-mode {
    background-color: $dark-bg;
  }
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  border-width: 0;
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

input {
  cursor: pointer;
}

.centered {
  align-items: center;
}

.red-block {
  background-color: $primary-color;
  width: 120px;
  height: 13px;
}
.red-circle {
  background-color: $primary-color;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.main-container {
  margin: 0 auto;
  min-width: 70vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
@include phone {
  .main-container {
    width: 75vw;
  }
}

.content-container {
  justify-self: center;
  margin-top: 50px;
  margin-bottom: 24px;
  max-width: 700px;
  font-size: $text-m;
}
@include phone {
  .content-container {
    margin-top: 0;
  }
}
