@import "colors";
@import "fonts-weight";

$text-xxxl: 66px;
$text-xxl: 40px;
$text-xl: 25px;
$text-l: 20px;
$text-m: 18px;
$text-s: 15px;

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  display: block;
  font-weight: $extra-bold;
  font-size: $text-xxxl;
  color: $light-text;
  letter-spacing: 1px;

  html.dark-mode & {
    color: $dark-text;
  }
}
.subtitle {
  font-weight: $extra-light;
  font-size: $text-l;
  padding-top: 15px;
  padding-bottom: 15px;
}
.text {
  color: $light-text;

  html.dark-mode & {
    color: $dark-text;
  }
}
.b {
  color: $primary-color
}
