$black: #231F20;
$blue: #2485D0;
$gray: #35383F;
$purple: #383762;
$red: #AE2435;
$white: #FFF;
$yellow: #FFCC00;
$mustard: #FFAF2A;
$light-gray: #CCC;
$light-red: #F36161;
$light-purple: #677BC4;
$light-light-gray: #F6F6F6;

// FIGMA COLORS
$dark-gray: #252734;
$gray1: #333546;
$gray2: #424657;
$gray3: #828282;
$dark-red: #AE2535;
$snow: #FFFBFE;
$skull-white: #EBEBEC;

$latex-gray: #4D4D4D;

.color-snow {
  color: $snow;
}
.color-dark-gray {
  color: $dark-gray;
}

$primary-color: $light-red;

// THEMES
$light-text: $dark-gray;
$light-bg: $snow;

$dark-text: $snow;
$dark-bg: $dark-gray;
