button, input, optgroup, select, textarea {
  margin: 0;
  padding: 0;
}
button, [role="button"] {
  cursor: pointer;
}
button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

.text-button {
  color: $gray3;
  transition: color 0.2s ease-in-out;

  //&.router-link-active,
  //&:focus,
  &:hover {
    color: $dark-gray;

    html.dark-mode & {
      color: $snow;
    }
  }
}
