@import "./colors.scss";
@import "./devices.scss";
@import "./fonts.scss";
@import "./fonts-weight.scss";
@import "./grids.scss";

html {
  font-family: $barlow;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $snow;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  cursor: pointer;
}

.main-container {
  margin: 0 auto;
  max-width: 70vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.centered {
  align-items: center;
}
.title {
  display: block;
  font-weight: $extra-bold;
  font-size: 40px;
  color: $dark-gray;
  letter-spacing: 1px;
}
.text {
  font-weight: $extra-light;
  font-size: 20px;
  color: $dark-gray;
  padding-top: 15px;
  padding-bottom: 15px;
}

.red-block {
  background-color: $light-red;
  width: 120px;
  height: 13px;
}
.red-circle {
  background-color: $light-red;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
