@import "colors";
@import "fonts-weight";
@import "themes";

.title {
  display: block;
  font-weight: $extra-bold;
  font-size: 40px;
  color: $light-text;
  letter-spacing: 1px;

  html.dark-mode & {
    color: $dark-text;
  }
}
.subtitle {
  font-weight: $extra-light;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.text {
  color: $light-text;

  html.dark-mode & {
    color: $dark-text;
  }
}
.text-button {
  color: $gray3;

  &:focus,
  &:hover
    //&.router-link-active
  {
    color: $dark-gray;

    html.dark-mode & {
      color: $snow;
    }
  }
}
